body {
  font-family: "Open Sans", sans-serif;
  background-color: whitesmoke;
}

* {
  margin: 0;
  list-style: none;
  padding: 0;
  text-transform: none;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
}
